.curtain {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: $clearGrey;
    @include transition(
        $secondes: 2s,
        $effet: cubic-bezier(0.015, -0.090, 0.975, 0.020), 
        $delay: 2s
    );
}