.footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: none;
    a {
        padding-right: 35px;

    }
    p {
        margin-left: auto;
        color: grey;
        font-style: italic;
        font-size: .7rem;;
    }
}