.anabelle-hero {
    background-image: url(/img/cover_anabelle.jpg);
}
.an-thumb-1 {
    background-image: url(/img/Anabelle_thumb_1.jpg);
    width: 600px;
    height: 500px;
}
.an-thumb-2 {
    background-image: url(/img/Anabelle_thumb_2.jpg);
    width: 300px;
    height: 500px;
}
.an-thumb-3 {
    background-image: url(/img/Anabelle_thumb_3.png);
}
.an-thumb-4 {
    background-image: url(/img/Anabelle_thumb_4-bgColor=#edbdb3.svg);
}
.an-thumb-5 {
    background-image: url(/img/Anabelle_thumb_5.jpg);

}