.splash{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80%;
    width: 80%;

    // ! ------------------------------ for JS animation
    transform: translateY(100%);
    @include transition(
        $secondes: .5s,
        $delay: 1s
    );
    
    .splash-title {
        padding-left: 50px;
        max-width: 60%;
        h1 {
            font-size: 6rem;
            font-weight: 300;
            line-height: 4.2rem;
            margin: 0;
        }
        p{
            font-style: italic;
            font-size: 0.9rem;
            letter-spacing: .05rem;
            margin-top: 40px;
        }
    }
    a {
        margin-left: auto;
    }
    @media screen and (max-width: 1024px) {
        .splash-title {
            max-width: 100%;
            padding-left: 0;
        }
        a {
            display: none;
        }
    }
} 