.projects-panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background: none;
    }
    .anabelle {
        background: url(/img/cover_anabelle.jpg) center/cover;
    }
    .decathlon {
        background: url(/easy-reveal-blank/img/01.jpg) center/cover;
    }
    .evento {
        background: url(/img/cover_eventoxtra.jpg) center/cover;
    }
    .flako {
        background: url(/img/cover_elflako.jpg) center/cover;
    }
    .project-bg {
        background: rgba(0, 0, 0, 0);
    }
    h2 {
        font-size: 2rem;
        margin: 0;
        text-shadow: 0 0 .1rem rgba(0, 0, 0, .1);
    }
    p {
        font-size: 0.6rem;
        letter-spacing: .1rem;
        margin: .3rem 0 0;
        text-shadow: 0 0 .1rem rgba(0, 0, 0, .1);
    }
}